{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
    <div class="row divider green">
        <div class="col-md-12"></div>
    </div>
    <div class="row banner menu">
        <div class="col-md-11 col-md-offset-1 padding-none">
            <h1>Edit Disc</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-1 padding-top">
            <form action="#" method = "post">
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type ="text" maxlength="100" class="form-control" name="name" value="{{disc.name }}">

                    <label for="description">Description:</label>
                    <textarea class="form-control" maxlength="250" rows="3" name="description">{{disc.description}}</textarea>

                    <label for="disc_type">Disc Type:</label>
                    <div class="radio">
                      <label>
                        <input type="radio" name="disc_type" id="putter" value="Putter" {% if disc.disc_type == 'Putter' %}checked{%endif%}>Putter
                      </label>
                    </div>
                    <div class="radio">
                      <label>
                        <input type="radio" name="disc_type" id="midrange" value="Midrange" {% if disc.disc_type == 'Midrange' %}}checked{%endif%}>Midrange
                      </label>
                    </div>
                    <div class="radio">
                      <label>
                        <input type="radio" name="disc_type" id="fairway" value="Fairway" {% if disc.disc_type == 'Fairway' %}}checked{%endif%}>Fairway Driver
                      </label>
                    </div>
                    <div class="radio">
                      <label>
                        <input type="radio" name="disc_type" id="distance" value="Distance" {% if disc.disc_type == 'Distance' %}checked{%endif%}>Distance Driver
                      </label>
                    </div>
                    <label for="speed">Speed</label>
                        <input type="text" maxlength="10" name="speed" id="speed" value="{{disc.speed}}"></br>
                    <label for="glide">Glide</label>
                        <input type="text" maxlength="10" name="glide" id="glide" value="{{disc.glide}}"></br>
                    <label for="turn">Turn</label>
                        <input type="text" maxlength="10" name="turn" id="turn" value="{{disc.turn}}"></br>
                    <label for="fade">Fade</label>
                        <input type="text" maxlength="10" name="fade" id="fade" value="{{disc.fade}}"></br>
                    <button type="submit" class="btn btn-default" id="submit" type="submit">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Save</button>
                    <a href = "{{url_for('showDiscs', manufacturer_id = manufacturer_id)}}">
                        <div class="btn btn-default delete">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel</div>
                    </a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}